
* {
    margin: 0;
    padding: 0;
    
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(0, 0, 0);
}


.card .submit--button{
        background-color: #0ef;
        color: rgb(0, 0, 0);
        width: 150px;
        border-color: #0ef;
        height: 30px;
        font-weight: bold;
        font-size: 15px;
        box-shadow: 10px 6px 20px #0ef;
        border-radius: 18px;
        transition: 0.1s;
        margin-top: 70px;
        opacity: 0.5;
        
}


.card .submit--button:active{
        transform: translateY(8px);
        box-shadow: 0 0 0 #ffffff;
        opacity: 1;   
}


.card .submit--button:hover{
        opacity: 1;
        
}


.card .submit--button:active{
        opacity: 1;
        background-color: #0ef;
        color: rgb(0, 0, 0);
}


.card{
        width: 420px;
        background: rgb(0, 0, 0);
        color: rgb(0, 0, 0);
        text-align: center;
        padding-bottom: 12px;
        border-radius: 10px;
        padding: 20px 0px;
        position: relative;
        box-shadow: 0 0 50px #0ef;
        height: 350px;     
}


.card h1 {
        font-size: 35px;
        color: white;
        text-align: center;
        margin-bottom: 50px;

}


.card .input-box{
        text-align: left;
        height: 30px;
        margin: 30px;
        margin-top: 60px;
        
}


.input-box input {
        width: 100%;
        height: 100%;
        background: transparent;
        /*border: none;*/
        /* outline: white; */
        border: 2px soid rgb(0, 255, 17);
        border-radius: 40px;
        padding: 0px 0px 0px 20px;
        color: white;
        
        
}


.input-box input::placeholder {
        color:white;
}


.label1{
        color: white;
        

}


.lead{
        color: white;
        margin-bottom: 50px;
}


.btn{
        color: #0ef;
        font-size: 20px;
}


.btn:hover{
        opacity: 0.5;
}